.statement{
    text-align: center;
    margin-top: 10%;
    color: black;
    font-size: 50px;
    
}

.bullet-statement{
    margin: 50px;
    padding: 36px 0px 36px 50px;
    list-style: none;
    background-image: url("images/original-3.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    font-size: 40px;
    
}

li {
    float: right;
    margin: 50px;
    list-style:none;

  }

ul{
  justify-content: center;
  display: flex;
  
}


.imageSlides{
  display: none;
}

img{
  margin: auto;
  display: block;
  width: 100%;
}

.images-slideshow{
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right:auto;
}

.slider-btn{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.previous {
  left: 2%;
}

.next {
  right: 2%;
}

.previous:hover,
.next:hover {
  color: rgb(255, 253, 253);
  background-color: rgba(0, 0, 0, 0.8);
}


